<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssimpNet" version="3.3.2" targetFramework="net452" />
  <package id="FastMember" version="1.1.0" targetFramework="net452" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net452" />
  <package id="VVVV.FreeImage" version="3.15.1.1" targetFramework="net452" />
</packages>